/* VARIABLES GENERALES */
:root {
    /* Colores básicos */
    --color-primario: #005bbb;
    --color-secundario: #00aaff;
    --color-texto: #333;
    --color-fondo: #ffffff;
    --color-gris-suave: #f4f4f4;

    /* Tipografías */
    --fuente-principal: Arial, Helvetica, sans-serif;

    /* Espaciados */
    --padding-base: 16px;
    --padding-grande: 32px;
    --ancho-maximo: 1200px;
}


/* RESET BÁSICO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* https://www.youtube.com/watch?v=Vx854s9YE78 */
}



.flex-container {
    display: flex;
    border: 2px solid blue;
    background-color: antiquewhite;
    padding: 20px;
    background-color: red;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    justify-content: space-between;
       height: 1000px;

}


.caja {
    border: 1px solid rgb(68, 57, 57);
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
    width: 120px;
    min-height: 120px;
    text-align: center;
    /* line-height: 120px; */
    margin: 5px;
    height: 100px;
    /* float: left; */

}


