 /* Selector por etiqueta */
 p {
     color: red;
     font-family: Arial, Helvetica, sans-serif;
     font-size: larger;
 }

.texto-centrado {
    text-align: center;
}


 /* Selector por clase */
 .fondo-amarillo {
     background-color: yellow;
     padding: 10px;
 }

 /* Selector por ID */
 #texto-destacado {
     font-size: 20px;
     font-weight: bold;
     color: green;
 }


 /* Ejercicio practico */
 .caja-ejercicio {
    background-color: lightblue;
    color: darkblue;
    border: 3px dotted yellowgreen;
    font-size: 18px;
    padding: 15px;
    margin: 20px 18px 16px 14px;
    /* margin-top: 20px;
    margin-right: 18px;
    margin-bottom: 16px;
    margin-left: 14px; */
 }

 .alerta-error {
    background-color: red;
    color: white;
    padding: 10px;
 }



